NEXT_PUBLIC_API_URL=http://localhost:3001

# URL do bundle UMD do widget Wavoip. Sempre carregado por default.
NEXT_PUBLIC_WAVOIP_WIDGET_URL=https://cdn.jsdelivr.net/npm/@wavoip/wavoip-webphone/dist/index.umd.min.js
